button {
    margin-right: 5px;
}
p {
    color: green;
} 
form{
    background-color: seashell;
    padding: 3vw;
    border-radius: 2%;
    
}
h1{
    background-color: floralwhite;
    padding: 1vw;
}