
<div class="row">
    <div class="col-md-5">
        <h1>Add Book</h1>
        <form [formGroup]="this.bookService.form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName="$key">
            <div class="form-group">
                <label>Id</label>
                <input formControlName="id" class="form-control"  [ngClass] = "{'is-invalid':submitted && formControls.id.errors}">
                <div class="invalid-feedback" *ngIf="submitted && formControls.id.errors">
                    this field is required.
                </div>
            </div>
            <div class="form-group">
                <label>Title</label>
                <input formControlName="title" class="form-control" [ngClass] = "{'is-invalid':submitted && formControls.fullName.errors}">
                <div class="invalid-feedback" *ngIf="submitted && formControls.title.errors">
                    this field is required.
                </div>
            </div>
            <div class="form-group">
                <label>Author</label>
                <input formControlName="author" class="form-control"  [ngClass] = "{'is-invalid':submitted && formControls.author.errors}">
                <div class="invalid-feedback" *ngIf="submitted && formControls.author.errors">
                    this field is required.
                </div>
            </div>
            <div class="form-group">
                <label>Page</label>
                <input formControlName="page" class="form-control"  [ngClass] = "{'is-invalid':submitted && formControls.page.errors}">
                <div class="invalid-feedback" *ngIf="submitted && formControls.page.errors">
                    this field is required.
                </div>
            </div>
            <div class="form-group" >
                <label>Available</label>
                <input style="width: 20%;" formControlName="available" type="checkbox" class="form-control"  [ngClass] = "{'is-invalid':submitted && formControls.available.errors}" >
                <div class="invalid-feedback" *ngIf="submitted && formControls.available.errors">
                    this field is required.
                </div>
            </div>
            <div class="form-group" style="float: right">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
        <div class="alert alert-info" *ngIf="showSuccessMessage">
            Submitted Successfully
        </div>
    </div>
    <div class="class col-md-7">
        <app-book-list></app-book-list>
    </div>
</div>